html,
body {
    height: 100%;
}

body {
    @extend %rubik-400;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    color: $black-600;
    background-color: $white;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrap {
    @extend .container;
    max-width: 1200px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    font-size: 15px;
    line-height: 1;
    padding: 25px 3px;
    display: inline-block;
    position: relative;
    transition: color 0.3s;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 1.2;
    color: $black-600;
    text-align: center;
    margin-bottom: 25px;
    @include clamp;
}

.mix-nav {
    @extend %dmsans-700;
    font-size: 16px;
    color: $grey-700;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 70px;

    @include r ($S) {
        display: block;
        margin: 0 auto 50px;
        text-align: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 30px;

            @include r ($S) {
                margin-right: 0;
                padding-bottom: 20px;
            }
        }
    }

    &__link {
        border: none;
        padding: 0;
        background-color: $white;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.3s;

        &:focus {
            outline: 0;
            color: $blue-200;
        }

        &:hover {
            border-color: $black-300;
            color: $black-300;
        }

        &:active {
            color: $red;
        }
    }
}

.pagination {
    display: none;

    &__active {
        display: flex;
        justify-content: start;
        padding: 30px 0 30px 300px;
        margin-bottom: 100px;
    }

    &__list {
        display: flex;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 1;
        color: $black-300;
    }

    &__link {
        padding: 15px 20px;
        border: 1px solid $blue-100;
        margin-right: 15px;
        transition: background-color 0.3s;

        &--active {
            background-color: $grey-500;
            color: $white;
        }

        &:hover {
            background-color: $grey-500;
            color: $black-300;
        }
    }
}