$black: #000;
$black-200: #4c4c4c;
$black-250: #333333;
$black-300: #243f4d;
$black-400: #222933;
$black-450: #252525;
$black-500: #1a1a1a;
$black-600: #191919;

$blue-100: #a3bbc8;
$blue-200: #99cccc;
$blue-300: #5c7885;
$blue-400: #436372;
$blue-450: #414141;
$blue-500: #565872;
$blue-550: #585858;

$blue-600: #333366;
$blue-700: #234969;

$red: red;
$white: #fff;
$beige-50: #fff7f0;
$beige-100: #fef7f0;
$beige-200: #feefe2;
$beige-300: #fcd7b6;

$grey-100: #f8f8f8;
$grey-200: #f6f6f6;
$grey-250: #f2f2f2;
$grey-300: #edf1f4;
$grey-400: #e0e0e0;
$grey-450: #dae4e9;
$grey-500: #cecece;
$grey-600: #b3b7b5;
$grey-650: #b3b3b3;
$grey-700: #8b8b8b;
$grey-800: #7b8188;
$grey-850: #7b7b7b;

$XXL: 1439px;
$XL: 1199px;
$L: 1023px;
$M: 767px;
$S: 575px;

%rubik-300 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%rubik-700 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

%dmsans-400 {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
}

%poppins-600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

%poppins-700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

%myriadpro-400 {
    font-family: 'MyriadPro', sans-serif;
    font-weight: 400;
}

%nunitoo-700 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

@function max($numbers...) {
    @return n#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return n#{i}n(#{$numbers});
}