@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

body {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    &__list {
        display: flex;
        color: $default-color;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 0.8;

    }

    &__list-item:not(:last-child) {
        margin-right: 30px;
    }

    &__list-link {
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.3s;

        &:hover {
            border-color: red;
            color: red;
        }

        &--active {
            border-color: red;
            color: red;
        }
    }
}

.user-panel {
    display: flex;

    &__link {
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;

        &--find {
            background-image: url(../images/icon/find.png);
            background-color: #edf1f4;
        }

        &--points {
            background-image: url(../images/icon/points.png);
            background-color: #a3bbc8;
        }
    }
}


.user-block {
    margin: 0 18px 0 20px;
    background-color: #fcd7b6;
    min-width: 178px;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;

    &__link {
        width: 50%;
        border-radius: 25px;
    }

    &__img {
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        height: 100%;
        width: 20px;
        margin: 0 auto;
        position: relative;

        &--like {
            background-image: url(../images/icon/like.png);
            margin-left: 40px;
        }

        &--basket {
            background-image: url(../images/icon/basket.png);
            margin-right: 40px;
        }
    }

    &__num {
        width: 16px;
        height: 16px;
        font-size: 10px;
        @extend %dmsans-400;
        color: #243f4d;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 1.6;
        position: absolute;
        top: 7px;
        left: 10px;
    }
}

.line {
    margin: auto 0;
    height: 35px;
    width: 1px;
    background-color: #fff;
}

.slider__inner {
    background-color: #fcd7b6;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.slider__inner {
    background-color: $fone-color;
    @extend %rubik-500;
    font-size: 70px;
    color: $first-color
}







@import 'media';