.lamp {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        display: block;
    }

    &__item {
        background-color: #feefe2;
        display: flex;
        padding: 90px 145px 55px;

        @media (max-width: 1800px) {
            padding: 50px;
            margin: 20px;
            align-items: center;
        }
    }

    &__wrap {
        margin: -185px 20px 0 0;

        @media (max-width: 1440px) {
            margin-top: 0;
        }
    }

    &__img {
        max-height: 405px;
    }

    &__content {
        max-width: 335px;
    }

    &__title {
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 1.3;
    }

    &__text {
        @extend %rubik-400;
        font-size: 16px;
        line-height: 2;
        margin: 25px 0;
    }

    &__link {

        @extend %rubik-500;
        font-size: 14px;
        background-color: transparent;
        border: 1px solid #b3b7b5;
        color: #436372;
        padding: 23px 90px 23px 20px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            color: #fff;
            background-color: #a3bbc8;

            & .lamp__svg {
                fill: #fff;
            }
        }

        &:active {
            background-color: $default-color;
        }
    }

    &__svg {
        left: 80%;
    }
}