.product {
    padding-top: 70px;

    &__inners {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
        margin-bottom: 200px;

        @media (max-width: 1023px) {
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 85px;
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 479px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        font-size: 16px;
        line-height: 2;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 0 50px 15px rgba(37, 37, 37, 0.05);
        max-width: 270px;
        padding: 0 20px 20px;

        @media (max-width: 479px) {
            margin: 0 auto;
        }

        &:hover {
            .product-card__list {
                transform: translate(50%, 0);
            }
        }
    }
}

.product-card {
    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 295px;
        position: relative;

        @media (max-width: 1023px) {
            height: 250px;
        }

    }

    &__img {
        margin: 0 auto;
    }

    &__title {
        @extend %dmsans-500;
        color: $first-color;
        white-space: nowrap;
    }

    &__price {
        @extend %dmsans-700;
        color: $icon-active-color;
        white-space: nowrap;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 160px;
        top: 65%;
        right: 50%;

        transform: translate(50%, 500%);
        transition: transform 0.3s;

        @media (max-width: 575px) {
            transform: translate(50%, 0%);
        }
    }

    &__svg {
        fill: $icon-active-color;
    }

    &__link,
    &__btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: block;
        background-color: $bg-color;
        box-shadow: 0 0 50px 10px rgba(37, 37, 37, 0.05);
        transition: background-color 0.3s;
        position: relative;
        outline: 0;

        &:hover {
            background-color: $icon-active-color;

            & .product-card__svg {
                fill: $icon-color;
            }
        }

        &:active {
            background-color: $classic-color;
        }
    }

    &__btn {
        cursor: pointer;
        border: 0;

        &:focus {
            outline: 0;
            color: $classic-color;
        }
    }
}