.video {
    height: 52vh;
    background-repeat: no-repeat;
    background-position: center 80%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        background-image: url('../images/icon/video.svg');
        background-repeat: no-repeat;
        width: 22px;
        height: 25px;
        position: absolute;

        transition: transform 0.5s;
    }

    &:hover::before {
        transform: scale(1.4);
    }

    &::after {
        content: '';
        background-color: #a3bbc8;
        box-shadow: 0 0 0 15px rgba(163, 187, 200, 0.5);
        width: 100px;
        height: 100px;

        border-radius: 50%;
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        cursor: pointer;
    }
}