.specific {
    &__inner {
        display: flex;
        padding-top: 70px;
    }



    &__slider {
        width: 550px;
        margin-right: 70px;
        display: flex;
    }

    &__small {

        width: 138px;
        // height: 530px;
        margin-right: 25px;
    }

    &__smallImg {
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 25px;
        }

    }

    &__imgSmall {
        width: 138px;
        height: 160px;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__big {
        width: 387px;
    }

    &__bigImg {
        // width: 387px;
        // height: 530px;
        // border: 1px solid green;

    }

    &__content {
        width: 550px;
        border: 1px solid blue;
    }

    &__title {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: $black-250;
        margin: 10px 0;
    }

    &__star {
        margin-bottom: 30px;
    }

    &__price {
        font-family: 'Rubik'sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
        color: $black-250;
    }

    &__text {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 2;
        color: $black-300;
        margin-bottom: 30px;
    }

    &__btn {
        margin-bottom: 50px;
    }

    &__category {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 2;
        color: $black-300;
    }


}