.specific {
    &__inner {
        display: flex;
        padding-top: 70px;
    }

    &__slider {
        width: 550px;
        margin-right: 70px;
        display: flex;
    }

    &__small {
        width: 138px;
        // height: 530px;
        margin-right: 25px;
    }

    &__smallImg {
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__imgSmall {
        width: 138px;
        height: 160px;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__big {
        width: 387px;
    }

    &__bigImg {
        // width: 387px;
        // height: 530px;
        // border: 1px solid green;

    }

    &__content {
        width: 550px;
        border: 1px solid blue;
    }

    &__title {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: $black-250;
        margin: 10px 0;
    }

    &__star {
        margin-bottom: 30px;
    }

    &__price {
        font-family: 'Rubik'sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
        color: $black-250;
    }

    &__text {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 2;
        color: $black-300;
        margin-bottom: 30px;
    }

    &__btn {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 2;
        text-transform: uppercase;
        background-color: $grey-300;
        color: $blue-300;
        padding: 11px 57px;
        border: 0;
        border-radius: 5px;
        transition: background-color 0.3s;
        margin-bottom: 50px;

        &:hover {
            color: $white;
            background-color: $blue-100;
        }

        &:active {
            background-color: $blue-400;
        }
    }

    &__category {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 2;
        color: $black-300;
    }
}

.jq-number {
    position: relative;
    padding: 0;
    margin-right: 15px;
}

.jq-number__field {
    width: 150px;
    border: 1px solid $blue-100;
    border-bottom-color: $blue-100;
    border-radius: 0;
    box-shadow: none;
}

.jq-number__field input {
    width: 100%;
    padding: 15px 0;
    border: none;
    outline: none;
    background: none;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: $black-250;
    text-align: center;
}

.jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.jq-number__spin:hover {
    background: none;
}

.jq-number__spin.plus {
    right: 0;
    border-left: 1px solid $blue-100;
}

.jq-number__spin.minus {
    left: 0;
    border-right: 1px solid $blue-100;
}

.jq-number__spin::after {
    content: '';
    position: absolute;
    border: none;
    top: 24px;
    left: 19px;
    background-color: $black-250;
    width: 9px;
    height: 1px;
}

.jq-number__spin.minus::after {
    content: '';
    top: 24px;
    left: 20px;
    border: none;
}

.jq-number__spin.plus::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 23px;
    background-color: $black-250;
    width: 1px;
    height: 9px;
}