.design {
    padding: 100px 0 120px;

    @media (max-width: $XL) {
        padding: 30px 0;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;

        @media (max-width: $XL) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $S) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        overflow: hidden;
        cursor: pointer;
        max-height: 246px;
    }
}

.design-card {
    position: relative;
    background-color: $grey-100;
    border-radius: 5px 5px 0 0;

    @media (max-width: $S) {
        max-width: 430px;
        margin: 0 auto;
    }

    &__title {
        @extend %dmsans-700;
        font-size: 20px;
        line-height: 1.2;
        color: $black;
        max-width: 175px;
        margin: 35px;
        position: absolute;
        top: 0;
        z-index: 1;
        max-height: 80px;
        @include clamp(3);

        @media (max-width: $XL) {
            margin: 10px;
        }

        @media (max-width: $S) {
            margin: 35px;
        }

        @media (max-width: $XS) {
            margin: 10px;
        }
    }

    &__text {
        @extend %dmsans-400;
        font-size: 16px;
        color: $blue-200;
        display: block;
        margin-top: 10px;
    }

    &__img {
        margin-left: auto;
        object-fit: contain;
    }
}