.myslider {
    &__inner {
        background-color: $fone-color;

        & .slick-dots {
            display: flex;
            justify-content: center;

            & li button {
                margin-right: 10px;
                font-size: 11px;
                line-height: 0.8;
                @extend %rubik-500;
                color: $first-color;
                background-color: $bg-color;
                opacity: 0.3;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
                margin-bottom: 45px;
                cursor: pointer;
                transition: background-color 0.3s, opacity 0.2s;

                &:focus {
                    border: 2px solid $icon-active-color;
                    outline: 0;
                }

                &:hover {
                    background-color: $icon-active-color;
                    opacity: 1;
                }

                &:active {
                    background-color: $bg-color;
                }
            }
        }

        & li.slick-active button {
            opacity: 1;
            outline: 0;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 215px 0 200px;
        position: relative;

        @media (max-width: $screen-laptopL) {
            padding: 120px 0;
        }

        @media (max-width: $screen-laptop) {
            padding: 50px 0;
            justify-content: center;
        }

        @media (max-width: $screen-tablet) {
            display: block;
        }

        &::before {
            content: '';
            // background-image: url('../images/Ellipse.png');
            background-image: linear-gradient(-90.0deg, #ffffff 0%, rgba(255, 255, 255, 0.0) 100%);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 610px;
            height: 634px;
            border-radius: 50%;
            position: absolute;
            top: 100px;
            left: 57%;
            z-index: -5;

            @media (max-width: 1440px) {
                left: 38%;
                background-image: linear-gradient(90.0deg, #ffffff 0%, rgba(255, 255, 255, 0.0) 100%);
            }

            @media (max-width: $screen-laptopL) {
                width: calc(0.75*610px);
                height: calc(0.75*634px);
                top: 45px;
            }

            @media (max-width: $screen-laptop) {
                display: none;
            }
        }
    }

    &__content {
        max-height: 350px;

        @media (max-width: $screen-tablet) {
            max-width: 100%;
            text-align: center;
        }
    }

    &__title {
        @extend %rubik-500;
        max-width: 415px;
        font-size: 72px;
        line-height: 1;
        color: $first-color;
        text-transform: uppercase;
        margin-bottom: 25px;
        max-height: 140px;
        overflow: hidden;

        @media (max-width: $screen-laptopL) {
            font-size: 60px;
        }

        @media (max-width: $screen-tablet) {
            font-size: 40px;
        }

        @media (max-width: 575px) {
            font-size: 24px;
        }
    }

    &__text {
        @extend %rubik-400;
        max-width: 360px;
        margin-bottom: 35px;
        font-size: 18px;
        line-height: 1.7;
        color: $default-color;
        max-height: 70px;
        overflow: hidden;

        @media (max-width: $screen-tablet) {
            max-width: 100%;
            text-align: center;
        }

        @media (max-width: $screen-mobileX) {
            max-height: 90px;
        }
    }

    &__link {
        @extend %rubik-500;
        background-color: $icon-active-color;
        color: $bg-color;
        padding: 25px 95px 23px 30px;
        border: 1px solid transparent;

        @media (max-width: $screen-tablet) {
            margin-bottom: 20px;
        }

        &:hover {
            color: $first-color;

            & .myslider__svg {
                fill: $first-color;
            }
        }

        &:active {
            background-color: $default-color;
        }
    }

    &__img {
        max-height: 265px;
        margin-top: auto;

        @media (max-width: $screen-laptopL) {
            max-height: 240px;
        }

        @media (max-width: $screen-laptop) {
            max-height: 150px;
        }

        @media (max-width: $screen-tablet) {
            margin: 0 auto;
        }

        @media (max-width: 575px) {
            max-height: 120px;
        }
    }

    &__svg {
        left: 85%;
    }
}