.catalog {
    &__control {
        display: flex;
        justify-content: center;
        padding: 50px 0 45px 0;
    }

    &__btn {
        display: block;
        background-color: $white;
        position: relative;
        outline: 0;
        border: 1px solid transparent;
        margin-right: 20px;
        width: 23px;
        height: 23px;
        cursor: pointer;

        &:hover {
            border-color: $blue-200;
        }

        @include r ($S) {
            display: none;
        }
    }

    &__filter-btn {
        background-color: $blue-100;
        background-image: url('../images/icon/filter.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%;
        border-radius: 2px;
        width: 45px;
        height: 45px;
        position: fixed;
        right: 0;
        z-index: 5;
        display: none;

        &:hover {
            background-color: $blue-300;
        }

        @include r ($XL) {
            display: block;
        }
    }

    &__svg {
        fill: $blue-100;

        &--active {
            fill: $red;
        }


        &:active {
            background-color: $red;
        }

        &:focus {
            outline: 0;
            background-color: $blue-200;
        }
    }

    &__inner {
        display: flex;

        @include r ($XL) {
            display: block;
        }
    }

    &__filter {
        min-width: 270px;
        margin-right: 30px;

        @include r ($XL) {
            display: none;
            width: 50%;
            margin: 0 auto;
        }

        @include r ($M) {
            width: 100%;
        }

        &--active {
            display: block;
        }
    }


    &__category {
        margin-bottom: 55px;
    }

    &__link {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: $black-300;
        padding: 10px;
        display: block;
        width: 100%;
        border-radius: 5px;
        position: relative;
        // max-width: 270px;

        &:hover {
            background-color: $grey-300;

            .catalog__count {
                color: $black-300;
            }
        }

        &--category {
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 20px;
                background-image: url('../images/stack/sprite.svg#icon--shape');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 8px;
                height: 10px;
                transform: translateY(-50%);
            }
        }
    }

    &__count {
        position: absolute;
        right: 20px;
        color: $grey-650;
    }

    &__price {
        margin-bottom: 80px;
        max-width: 270px;

        @include r ($XL) {
            max-width: 100%;
        }
    }

    &__title {
        font-family: 'DMSans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
        color: $black-300;
        text-transform: uppercase;
        margin-bottom: 25px;

        &:after {
            content: '';
            width: 39px;
            height: 3px;
            border-radius: 1px;
            background-color: $blue-100;
            position: absolute;
            transform: translate(15px, 9px);
        }
    }

    &__input {
        cursor: pointer;
    }

    &__text {
        display: flex;
        justify-content: space-between;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: $black-300;
    }

    &__brand {
        margin-bottom: 45px;
    }

    &__recent {
        margin-bottom: 60px;
    }

    &__point {
        display: flex;
        justify-content: start;
        margin-bottom: 30px;

        @include r ($XL) {
            justify-content: space-between;
        }
    }

    &__wrapper {
        min-width: 57px;
        margin-right: 35px;
    }

    &__img {
        margin: 0 auto;
    }

    &__favorite {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        color: $black-250;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__desc {
        font-size: 14px;
        line-height: 1;
    }

    &__cost {
        font-size: 15px;
        line-height: 1;
    }

    &__items {
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        // grid-gap: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 90px;

        @include r ($XL) {
            justify-content: space-around;
        }

        & .product-card {
            &__star {
                @include r ($S) {
                    display: block;
                    margin: 0 auto;
                }
            }

            &__paragraf {
                @include r ($S) {
                    display: block;
                    @include clamp(3);
                }
            }

            &__list {
                @include r ($S) {
                    width: 100px;
                }
            }

            &__link {
                @include r ($S) {
                    display: none;
                }
            }

        }

        & .product__item {
            min-width: 270px;
            margin-bottom: 30px;
        }

        &--list {
            margin-bottom: 60px;
        }

        &.catalog__items--list {

            .product__item {
                box-shadow: none;
                line-height: 1;
                padding: 0;
                margin-bottom: 40px;
                border-radius: 0;
                cursor: default;
                position: relative;
                width: 100%;

                &:not(:nth-child(-n+4)) {
                    display: none;
                }

                &:first-child {
                    button[data-title="basket"] {
                        display: none;
                    }

                    button[data-title="like"] {
                        .svg {
                            display: none;
                        }

                        &:before {
                            content: 'add to cart';
                        }

                        width: 208px;
                        height: 50px;
                        border-radius: 5px;
                        color: $blue-300;
                        background-color: $white;
                        text-transform: uppercase;
                        font-family: 'Rubik',
                        sans-serif;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 2;

                        @include r ($M) {
                            transform: translate(-20%, 10px);
                        }

                        &:hover {
                            color: $white;
                            background-color: $blue-100;
                        }
                    }
                }
            }

            .product-card {
                flex-direction: row;
                justify-content: flex-start;

                @include r ($M) {
                    display: block;
                }

                &__wrap {
                    border: 2px solid $grey-250;
                    margin: 0 60px 0 0;
                    padding: 80px 25px;
                    min-width: 370px;
                    height: 500px;

                    @include r($L) {
                        margin-right: 25px;
                        padding: 25px;
                        min-width: 300px;
                        height: 400px;
                    }

                    @include r($M) {
                        margin-right: 0;
                    }
                }

                &__img {
                    width: 100%;
                }

                &__text {
                    text-align: left;

                    @include r($M) {
                        text-align: center;
                    }
                }

                &__title {
                    font-size: 40px;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 400;
                    color: $black-250;
                    margin: 95px 0 15px;

                    @include r ($XL) {
                        white-space: normal;
                        margin-top: 15px;
                    }
                }

                &__star {
                    display: block;
                    margin-bottom: 40px;

                    @include r ($M) {
                        margin: 0 auto;
                        padding-bottom: 20px;
                    }
                }

                &__price {
                    font-size: 30px;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 400;
                    color: $black-250;
                    margin-bottom: 20px;
                }

                &__paragraf {
                    font-size: 16px;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 400;
                    line-height: 2;
                    display: block;
                    color: $black-300;
                    margin-bottom: 20px;
                    text-align: left;
                    @include clamp(3);

                    @include r ($M) {
                        text-align: center;
                    }
                }

                &__list {
                    transform: translate(340%, 60px);
                    width: 100px;
                    box-shadow: none;

                    @include r($XL) {
                        top: 70%;
                    }

                    @include r($M) {
                        transform: translate(50%, 50px);
                    }
                }

                &__btn {
                    border-radius: 1px;
                }

                &__link {
                    display: none;
                }
            }
        }
    }
}




.jq-ry-container {
    padding-left: 0;
}

.irs--flat .irs-line {
    top: 25px;
    height: 3px;
    background-color: $blue-100;
    opacity: 0.65;
    border-radius: 1px;
}

.irs--flat .irs-handle {
    top: 20px;
    width: 15px;
    height: 15px;
    background-color: $blue-100;
}

.irs--flat .irs-bar {
    top: 25px;
    height: 4px;
    background-color: $blue-100;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
}

.irs-from,
.irs-to,
.irs-single,
.irs-min,
.irs-max {
    display: none;
}