.mission {
    padding-top: 120px;

    @include r ($XL) {
        padding: 50px 0;
    }

    &__wrap {
        background-image: url('../images/about-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 125px;

        @include r ($XXL) {
            background-size: 50%;
            margin-bottom: 70px;
        }

        @include r($L) {
            background-position-y: bottom;
        }

        @include r($M) {
            background: $grey-300;
            margin-bottom: 30px;
        }
    }

    &__content {
        padding: 70px 0 20px 30px;
        width: 50%;
        margin-left: auto;

        @include r($L) {
            padding: 10px;
        }

        @include r($M) {
            width: 100%;
        }
    }

    &__number {
        display: flex;
    }

    &__day {
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        font-size: 140px;
        color: $blue-100;
        margin-right: 25px;
        line-height: 1;

        @include r($L) {
            line-height: 1;
            top: auto;
            bottom: -10px;
        }
    }

    &__work {
        padding-top: 30px;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: $black-300;
        line-height: 2;
        overflow: hidden;
        white-space: normal;

        @include r($L) {
            margin-bottom: 10px;
        }
    }

    &__title {
        text-align: left;
        margin-bottom: 30px;
        @include clamp(2);
    }

    &__text {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: $black-300;
        line-height: 2;
        margin-bottom: 55px;
        @include clamp(4);

        @include r($XL) {
            margin-bottom: 20px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;
        padding-top: 35px;
        border-top: 2px solid $grey-500;
        margin-bottom: 60px;

        @include r($XL) {
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }

    &__item {
        position: relative;
        // overflow: hidden;
        max-width: 100px;
        white-space: nowrap;

        &:not(:last-child) {
            padding-right: 20px;
            border-right: 1px solid $grey-500;

            @include r($XL) {
                border-right: none;
            }
        }

        &:before {
            content: '';
            position: absolute;
            background-image: url('../images/stack/sprite.svg#icon--projects');
            background-repeat: no-repeat;
            width: 37px;
            height: 38px;
            top: 50%;
            right: calc(100% + 10px);
            transform: translateY(-50%);

            @include r($L) {
                display: none;
            }

            @include r($M) {
                display: initial;
            }

            @include r($S) {
                display: none;
            }
        }

        &--revenue {
            &:before {
                background-image: url('../images/stack/sprite.svg#icon--revenue');
                width: 43px;
                height: 40px;
            }
        }

        &--awards {
            &:before {
                background-image: url('../images/stack/sprite.svg#icon--awards');
                width: 42px;
                height: 42px;
            }
        }
    }

    &__stat {
        font-family: 'DMSans', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1;
        color: $black-300;
    }

    &__name {
        font-family: 'DMSans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: $black-200;
    }
}