.page-top {
    background-color: $grey-300;
    padding: 20px 0 30px;
    text-align: center;

    &__title {
        @extend %rubik-300;
        font-size: 36px;
        line-height: 1.4;
        color: $black-400;
        text-align: center;
        @include clamp;
    }
}

.breadcrumbs {
    @extend %rubik-400;
    font-size: 14px;
    color: $grey-800;
    @include clamp;

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        padding-right: 20px;
        position: relative;

        &::after {
            content: "/";
            position: absolute;
            top: 0;
            right: 5px;
        }

        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }
}