.service {
    background-color: $beige-300;

    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item {
        padding: 80px 45px;
        text-align: center;
        overflow: hidden;
        max-width: 170px;
        white-space: nowrap;

        @media (max-width: $XL) {
            padding: 40px 20px;
        }
    }

    &__img {
        background-repeat: no-repeat;
        background-size: contain;
        width: 80px;
        height: 65px;
        margin: 0 auto;
    }

    &__title {
        @extend %dmsans-700;
        font-size: 36px;
        color: $black-300;
        line-height: 2;
    }

    &__text {
        @extend %dmsans-700;
        font-size: 18px;
        color: $black-300;
    }
}