.team {
    padding-top: 120px;

    &__wrap {
        display: flex;
        justify-content: space-between;

        @media (max-width: $screen-laptop) {
            display: block;
        }
    }

    &__content {
        max-width: 310px;

        @media (max-width: $screen-laptop) {
            max-width: 100%;
        }
    }

    &__title {
        text-align: left;
    }

    &__text {
        font-size: 16px;
        color: #243f4d;
        line-height: 1.9;
        margin-bottom: 35px;

        @media (max-width: $screen-laptop) {
            margin-bottom: 20px;
        }
    }

    &__btn {
        font-size: 14px;
        background-color: #a3bbc8;
        color: #fff;
        padding: 20px 70px 20px 15px;
        border-radius: 5px;
        transition: background-color 0.3s;

        @media (max-width: $screen-laptop) {
            margin-left: 50%;
            transform: translateX(-50%);
            margin-bottom: 20px;
        }
    }

    &__btn:hover {
        color: #fff;
        background-color: #436372;
    }

    &__btn:active {
        background-color: #a3bbc8;
        color: #436372;

        & .team__svg {
            fill: #436372;
        }
    }

    &__svg {
        left: 80%;
    }

    &__images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;

        @media (max-width: $screen-mobileX) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }

    &__img {
        margin-bottom: 70px;
    }

    &__foto {
        position: relative;
        max-height: 320px;

        @media (max-width: $screen-laptop) {
            margin: 0 auto;
        }
    }

    &__label {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.45);
        padding: 25px;
        max-width: 325px;
        width: 100%;
        position: absolute;
        transform: translateY(-50px);

        @media (max-width: $screen-tablet) {
            padding: 15px;
            max-width: 265px;
        }
    }

    &__name {
        @extend %dmsans-700;
        font-size: 22px;
        margin-bottom: 5px;
        color: #5c7885;
    }

    &__prof {
        @extend %rubik-400;
        font-size: 16px;
        color: #565872;
    }

    &__links {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    &__link {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f6f6f6;
        transition: background-color 0.3s;
        position: relative;
        display: inline-block;

        &:hover {
            background-color: #a3bbc8;

            & .svg {
                fill: #edf1f4;
            }
        }

        &:active {
            background-color: #436372;
        }
    }
}