.advantage {
    background-color: $beige-50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    @include r ($L) {
        flex-wrap: wrap;
    }

    &::after {
        content: '';
        height: 100%;
        width: 1px;
        background-color: $grey-500;
        position: absolute;
        left: 33.3%;

        @include r ($L) {
            display: none;
        }
    }

    &::before {
        content: '';
        height: 100%;
        width: 1px;
        background-color: $grey-500;
        position: absolute;
        right: 33.3%;

        @include r ($L) {
            display: none;
        }
    }

    &__item {
        padding: 40px 50px 40px 100px;
        background-repeat: no-repeat;
        background-position: 10% 50%;
        max-width: 500px;
    }

    &__title {
        @extend %dmsans-700;
        color: $blue-450;
        position: relative;
        margin-bottom: 5px;
        @include clamp;
    }

    &__text {
        @extend %dmsans-400;
        font-size: 16px;
        line-height: 1.8;
        color: $blue-550;
        max-width: 215px;
        @include clamp(2);
    }
}