.header__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: $beige-200;
}

.nav {
    padding: 45px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav__fixed {
    padding: 10px 0;
}

.logo {
    &__img {
        max-height: 39px;
    }
}

.menu {
    @include r ($L) {
        order: 1;
    }

    @include r ($S) {
        order: 0;
    }

    &__btn {
        display: none;

        path {
            transition: transform 0.25s;
        }

        @include r ($L) {
            display: block;
            background-color: transparent;
            border: none;
            padding: 0;
            outline: 0;
            cursor: pointer;
        }

        &--active {
            & path:nth-of-type(1) {
                @include r ($L) {
                    transform: rotate(45deg);
                    transform-origin: -1px 3px;
                }
            }

            & path:nth-of-type(2) {
                @include r ($L) {
                    display: none;
                }
            }

            & path:nth-of-type(3) {
                @include r ($L) {
                    transform: rotate(-45deg);
                    transform-origin: 0px 13px;
                }
            }
        }

    }


    &__list {
        @extend %rubik-500;
        font-size: 15px;
        line-height: 1;
        color: $blue-400;
        display: flex;

        @include r ($L) {

            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 110px;
            background-color: $beige-300;
            opacity: 0.95;
            text-align: center;
            transform: translateY(-250%);
            transition: all 0.5s;
            z-index: 5;
        }

        @include r ($S) {
            top: 200px;
        }

        &.menu__list--active {
            @include r ($L) {
                transform: translateY(0%);
                transition: all 0.5s;
            }
        }
    }

    &__item:not(:last-child) {
        margin-right: 40px;

        @include r ($L) {
            margin-right: 0;
        }
    }

    &__link {
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.3s;

        @include r ($L) {
            display: block;
            padding: 20px 0;
        }

        &:focus {
            outline: 0;
            color: $blue-200;
        }

        &:hover {
            border-color: $black-300;
            color: $black-300;
        }

        &:active {
            color: $red;
            border-color: $red;
        }
    }
}

.user-panel {
    display: flex;

    @include r ($S) {
        width: 100%;
        margin-top: 40px;
        justify-content: center;
    }

    &__btn {

        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 0;
        cursor: pointer;
        background-color: $grey-300;
        transition: background-color 0.3s;
        position: relative;

        &:focus {
            outline: 0;
            border: 2px solid $blue-100;
        }

        &:hover {
            background-color: $blue-100;

            & .svg {
                fill: $grey-300;
            }
        }

        &:active {
            background-color: $blue-200;
        }
    }

    &__link {
        width: 80px;
        height: 50px;
        background-color: $beige-300;
        transition: background-color 0.3s;
        position: relative;

        &:focus {
            outline: 0;
            border: 2px solid $blue-200;
        }

        &:hover {
            background-color: $blue-100;
        }

        &:active {
            background-color: $blue-100;
        }


        &--one {
            margin-left: 30px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        &--two {
            margin-right: 30px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;

            &::after {
                content: '';
                height: 35px;
                width: 1px;
                background-color: $white;
                position: absolute;
                top: 8px;
            }
        }
    }

    &__num {
        width: 16px;
        height: 16px;
        font-size: 10px;
        @extend %dmsans-400;
        color: $black-300;
        background-color: $white;
        border-radius: 50%;
        text-align: center;
        line-height: 1.6;
        position: absolute;
        top: 7px;
        right: 23px;
    }
}