.partners {
    background-color: $beige-100;
    padding: 80px 0;	

    @include r ($XL) {
        padding: 20px;
    }

    @include r ($S) {
        padding: 10px 0;
    }

    &__img {
        margin: 0 auto;
        // max-height: 84px;
    }
}