.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'DMSans', sans-serif;
    height: 100%;

    &__wrap {
        position: relative;
        min-height: 206px;
        display: flex;
        margin-bottom: 50px;
    }

    &__img {
        margin: 0 auto;
        object-fit: contain;

    }

    &__title {
        font-weight: 500;
        color: $black-300;
        white-space: nowrap;
    }

    &__price {
        font-weight: 700;
        color: $blue-100;
        white-space: nowrap;
        max-width: 200px;
        overflow: hidden;
        margin: 0 auto;
    }

    &__paragraf {
        white-space: nowrap;
    }

    &__star,
    &__paragraf,
    &__paragraf-out {
        display: none;
    }

    &__star {
        z-index: -5;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 160px;
        top: 65%;
        right: 50%;

        transform: translate(50%, 700%);
        transition: transform 0.3s;

        @include r ($S) {
            transform: translate(50%, 0%);
            top: 80%;
        }
    }

    &__svg {
        fill: $blue-100;
    }

    &__link,
    &__btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: block;
        background-color: $white;
        box-shadow: 0 0 50px 10px rgba($black-450, 0.05);
        transition: background-color 0.3s;
        position: relative;
        outline: 0;

        &:hover {
            background-color: $blue-100;

            & .product-card__svg {
                fill: $grey-300;
            }
        }

        &:active {
            background-color: $blue-200;
        }
    }

    &__btn {
        cursor: pointer;
        border: 0;

        &:focus {
            outline: 0;
            background-color: $blue-200;
        }
    }
}